apiVersion: v2
name: harbor
version: 1.18.0-bb.6
appVersion: 2.14.0
description: An open source trusted cloud native registry that stores, signs, and scans content
keywords:
- docker
- registry
- harbor
home: https://goharbor.io
icon: https://raw.githubusercontent.com/goharbor/website/main/static/img/logos/harbor-icon-color.png
sources:
- https://github.com/goharbor/harbor
- https://github.com/goharbor/harbor-helm
maintainers:
- name: Yan Wang
  email: yan-yw.wang@broadcom.com
- name: Wenkai Yin
  email: wenkai.yin@broadcom.com
- name: Miner Yang
  email: miner.yang@broadcom.com
- name: Shengwen Yu
  email: shengwen.yu@broadcom.com
engine: gotpl
dependencies:
  - name: harbor
    version: '1.18.0'
    repository: 'https://helm.goharbor.io'
    alias: upstream
  - name: postgresql
    version: 18.1.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: redis
    version: 23.1.1-bb.0
    repository: "oci://registry1.dso.mil/bigbang/maintained"
    condition: redis-bb.enabled
    alias: redis-bb
  - name: gluon
    version: 0.9.6
    repository: oci://registry1.dso.mil/bigbang
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Harbor Core: 2.14.0
  helm.sh/images: |
    - name: nginx
      image: registry1.dso.mil/ironbank/opensource/nginx/nginx:1.29.3
    - name: harbor-portal
      image: registry1.dso.mil/ironbank/opensource/goharbor/harbor-portal:v2.14.0
    - name: harbor-core
      image: registry1.dso.mil/ironbank/opensource/goharbor/harbor-core:v2.14.0
    - name: harbor-jobservice
      image: registry1.dso.mil/ironbank/opensource/goharbor/harbor-jobservice:v2.14.0
    - name: registry
      image: registry1.dso.mil/ironbank/opensource/goharbor/registry:v2.14.0
    - name: harbor-registryctl
      image: registry1.dso.mil/ironbank/opensource/goharbor/harbor-registryctl:v2.14.0
    - name: harbor-exporter
      image: registry1.dso.mil/ironbank/opensource/goharbor/harbor-exporter:v2.14.0
    - name: trivy
      condition: trivy.enabled
      image: registry1.dso.mil/ironbank/opensource/goharbor/trivy-adapter:v2.14.0
    - name: postgresql
      condition: postgresql.enabled
      image: registry1.dso.mil/ironbank/opensource/postgres/postgresql:18.0
    - name: redis
      condition: redis-bb.enabled
      image: registry1.dso.mil/ironbank/bitnami/redis:8.2.2