externalURL: https://{{HARBOR_DNS_NAME}}:443
expose:
  type: loadBalancer
  loadBalancer:
    ports:
      httpsPort: 443  
  tls:
    certSource: secret
    secret:
      secretName: harbor-registry-https
persistence:
  persistentVolumeClaim:
    registry:
      size: 200Gi #k3d uses local path, which leverages thin provisioning / over provisioning
    database:
      size: 10Gi
    redis:
      size: 5Gi
