#https://k3d.io/usage/guides/registries/
mirrors:
  "*":
    endpoint:
      - https://registry.ibc/
  docker.io:
    endpoint:
      - https://registry.ibc/
configs:
  "*":
    tls:
      ca_file: "/etc/ssl/certs/{{HARBOR_DNS_NAME}}.crt"
    auth:
      username: admin
      password: Harbor12345      
  docker.io:
    tls:
      ca_file: "/etc/ssl/certs/{{HARBOR_DNS_NAME}}.crt"
    auth:
      username: admin
      password: Harbor12345
